<section>
  <h1>Greg Franko</h1>
  <p id="asideDescription">I am a JavaScript Engineer, speaker, author, and open source enthusiast.  My favorite technologies/topics are Javascript, jQuery, Backbone.js, Require.js, Node.js, CSS3, Mobile (Mobile Web and Native), and Design Patterns.</p>
</section>
<section id="headerSocialIcons">
	<a href="https://github.com/gfranko" target="_blank">
		<img src="{{ root_url }}/images/Github32.png" alt="Github" title="Github" class="social" />
	</a>
	<a href="http://stackoverflow.com/users/1172750/greg-franko" target="_blank">
		<img src="{{ root_url }}/images/stackoverflow.png" alt="Stackoverflow" title="Stackoverflow" class="social" />
	</a>
	<a href="https://twitter.com/#!/GregFranko" target="_blank">
		<img src="{{ root_url }}/images/twitter.png" alt="Twitter" title="Twitter" class="social" />
	</a>
	<a href="http://www.linkedin.com/profile/view?id=62257421&trk=tab_pro" target="_blank">
		<img src="{{ root_url }}/images/linkedin.png" alt="LinkedIn" title="LinkedIn" class="social" />
	</a>
</section>
<br /><br />
