<section>
<a href="{{ root_url }}/" class="category-buttons" id="blog"><img src="{{ root_url }}/images/glyphicons_030_pencil.png" />Blog</a>
<a href="{{ root_url }}/blog/archives" class="category-buttons" id="archives"><img src="{{ root_url }}/images/glyphicons_144_folder_open.png" />Archives</a>
<a href="{{ root_url }}/contact" class="category-buttons" id="contact"><img src="{{ root_url }}/images/glyphicons_010_envelope.png" />&nbsp;Contact</a>
<a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS" class="category-buttons"><img src="{{ root_url }}/images/glyphicons_397_rss.png" />&nbsp;RSS</a>
</section>
